@font-face {
  font-family: "Amita";
  src: url("../fonts/Amita-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --container-pad: calc(calc(100% - min(98%, 1000px)) / 2);

  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 98%);
  --accent-color: hsl(183 54% 21%);

  --primary-text-color: hsl(0, 0%, 0%);
}

/* ------------------------------------------------------- */
/* global */

body {
  margin: 0;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Raleway";
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  width: 100%;
}

/* ------------------------------------------------------- */
/* utilities */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.vertical-bar {
  border-left: 1px solid hsl(0, 0%, 85%);
  height: 22px;
}

.link:hover {
  background-color: var(--secondary-color);
}
/* ------------------------------------------------------- */

.container {
  padding-inline: var(--container-pad);
  min-height: 100vh;
}

/*
* AppBar
*/

.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.app-bar .leading {
  flex: 0 0 10ch;
}

/*
* Brand text
*/

.brand {
  font-family: "Amita", sans-serif;
  font-size: 1.52rem;
  padding: 0;
  margin: 0;
  line-height: 1.7;
}

.middle {
  display: flex;
  gap: 22px;
  font-weight: 100;
}

.trailling .actions {
  display: flex;
  gap: 12px;
}

/*
* Navigation
*/

.navigation {
  display: flex;
}

.navigation-item {
  padding: 4px 22px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-block: 22px;
}

.products .product {
  flex: 1 0 200px;
}

.product .name {
  font-size: 0.85rem;
  margin: 0;
  padding-block-start: 16px;
}

.product .price {
  font-size: 0.78rem;
  color: var(--accent-color);
  width: min-content;
  font-weight: bold;
  padding: 1px 2px;
  margin: 0;
  padding-block-start: 16px;
}
/*
* Product cards
*/

.card {
  padding-inline: 8px;
  padding-block-end: 2px;
  border: 1px solid hsl(0, 0%, 95%);
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.card-media {
  aspect-ratio: 1 /1;
  flex-grow: 1;
}
